@import "tailwindcss";

@theme {
  --color-primary: #4672ff;
  --color-primary-secondary: #8db7ff;
  --color-primary-tertiary: #cde5ff;

  --font-sans:
    "Pretendard", "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;

  --font-dunkel: "dunkel-sans-medium", sans-serif;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
}
