@import "tailwindcss";

@font-face {
    font-family: "Vitro Core";
    src: url("../public/VITRO CORE TTF.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Vitro Inspire";
    src: url("../public/VITRO INSPIRE TTF.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Vitro Pride";
    src: url("../public/VITRO PRIDE TTF.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #4672FF;
    --color-primary-secondary: #8DB7FF;
    --color-primary-tertiary: #CDE5FF;

    --font-sans: "Pretendard", "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;

    --font-vitro-core: "Vitro Core", var(--font-sans);
    --font-vitro-inspire: "Vitro Inspire", var(--font-sans);
    --font-vitro-pride: "Vitro Pride", var(--font-sans);
}

@layer base {
    html, body, #root { height: 100%; }
}
